// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// form
// {
//   margin: 0 auto;
//   width: 40%;
//   align: center;
//   height: auto;
// }
// p{
//     width: 100%;
//   margin: 0 auto;
// }
.container-center{
  position: relative;
  margin: auto;
  left: 50%;
  transform-translate:50%;
  //width: 100%;
}
.button{
  margin: 10px 0;
  width: 50%;
}
.button:visited{
  color: #fff
}
.button-function:visited{
  color: #fff
}
.button-width{
  width: 100px;
}
.table-user{
  margin: 10px 0;
  border-collapse: collapse;
  border-spacing: 10px;
}
.register-field{
  width: 300px;
}
#similar {
  float:left;
  width:200px;
  background:#000;
  clear:both;
}